## Q1

While loop is used when we need to run a block of code unknown times until the condition is met and for loop is used when we have to loop once over the iteratable.

## Q2

In [3]:
su = 0
for i in range(1,11):
    su+=i
print(su)

55

In [6]:
li = list(range(1,11))
su_while = 0
while li:
    su_while += li[0]
    li.pop(0)
print(su_while)

55

## Q3

In [18]:
elecUnit = int(input("Please enter the amount of the Electricity bill: "))
total_amount = 0
if elecUnit > 300:
    unit1 = elecUnit - 300
    total_amount = unit1 * 20
    total_amount = total_amount +  100 * 10 + 100*6+100*4.5
elif elecUnit > 200 and elecUnit <= 300:
    unit1 = elecUnit - 200
    total_amount =  unit1 * 10 +  100*6+100*4.5
elif elecUnit > 100 and elecUnit <= 200:
    unit1 = elecUnit-100
    total_amount = unit1 * 6 + 100*4.5
else:
    total_amount = elecUnit * 4.5
print(total_amount)

Please enter the amount of the Electricity bill:  310

2250.0

## Q4

In [47]:
lis = list(range(1,101))
divLi = []
for x in lis:
    if (x**3)%4 ==0 or (x**3)%5==0:
        divLi.append(x)
print(divLi)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [48]:
new = True
newLi=[]
while lis:
    if (lis[0]**3)%4 ==0 or (lis[0]**3)%5==0:
        newLi.append(lis[0])
    lis.pop(0)

In [49]:
newLi == divLi

True

In [50]:
print(newLi)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

## Q5

In [53]:
string = "I want to become a data scientist"
count=0
for x in string.lower():
    if x in ['a','e','i','o','u']:
        count+=1

In [54]:
count

12